@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-6">to</h3>
    <div class="col-12 col-lg-12">
        <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Flight Reservation</strong></h1>
                
        <p class="mbr-text mbr-fonts-style display-7"><span style="font-size: 20px;"><strong>Book</strong></span><strong>&nbsp;your flight now!&nbsp;</strong></p>
        <div class="mbr-section-btn mt-3">
            <a class="btn btn-primary display-4" asp-controller="User" asp-action="Signup">Book Now</a> 
            <a class="btn btn-secondary display-4" asp-controller="Home" asp-action="Privacy">Read More</a></div>
    </div>
</div>
