@model FlightReservationSystem_MVC_.Models.Route
@{
    Layout = "_AdminLayout";
}
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromRoute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromRoute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToRoute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToRoute)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RouteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
